<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript">
		$(function(){
	  $("#show-limit").on("change", function(){
	    $(this).closest("form").trigger("submit");
	  });
	})
	</script>
</head>
<body>

<h1>ALL PRODUCT</h1>

<%= search_form_for @search, url: products_path do |f|%>
  <%= select_tag :limit, options_from_collection_for_select(Settings.show_limit, :second, :second, selected: params[:limit] || Settings.show_limit.limit),id: "show-limit"%>
  <%= f.submit "search", class: "btn btn-info", style: "display: none; margin-right: 10px"%>
<% end %>

<%- @products.each do |product| %>
  <%= product.product_name %><br>
  <%= product.price %>

  </br>
<% end %>
<%= paginate @products %>

</body>
</html>