<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<%= form_for @product do |f| %>
	<p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :product_name %><br />
    <%= f.text_field :product_name %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <%=f.select "categories", @cate_sidebar.collect{|cat| [cat.content, cat.id] }, {}, multiple: :true, size: 5, include_blank: true, class: "form-control"%>
  <p>
    <%= f.text_area :description %>
  </p>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <p><%= f.submit %></p>
<% end %>
</body>
</html>
