<!DOCTYPE html>
<html>
<head>
  <title>ShoeStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
<header style="height: 80px">
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<!-- warning if not login -->
	<p class="navbar-text pull-right">
	<!-- navigation -->
	<% if user_signed_in? %>
		<div>
		  <ul>
		  	<li class="dropdown">
			    <a href="javascript:void(0)" class="dropbtn" onclick="DropdownMenu()"><%=current_user.email%></a>
			    <div class="dropdown-content" id="myDropdown">
			      <%= link_to "Profile", user_path(current_user.id)%>
			      <%= link_to "Update", edit_user_path(current_user.id)%>
			      <%= link_to "Reset pass", edit_user_registration_path%>
			    </div>
			  </li>
		  	<li><%= link_to "New", products_path(navigation: "new")%></li>
		  	<li><%= link_to "Hot", products_path(navigation: "hot")%></li>
		  	<li><%= link_to "Create post", new_product_path %></li>
		  	<li><%= link_to "Cart", cookies_path %></li>
		    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
		    <li><%= link_to "Home", products_path %></li>  
		  </ul>
		</div>
		<br>
	<!-- search_box -->
	<br><br>
	<main>
		<nav class="w3-sidenav w3-white w3-card-2" style="width:18%; height: 400px;"><br>
		  <%@cate_sidebar.each do |cate|%>
	      <p><%= link_to "#{cate.content} (#{cate.products.length})", category_path(id: cate.id)%></p>
	    <%end%>
		</nav>
	</main>
	<br><br>
	<% else %>
		<div>
		  <ul>
		  	<li><%= link_to "Sign up", new_user_registration_path %></li>
		    <li><%= link_to "Login", new_user_session_path%></li>
		  </ul>
		</div>
		<br>
	<% end %>
</header>
<div style="margin-left: 20%">
	<%= yield %>
</div>


</body>
</html>
