<!DOCTYPE html>
<html>
<head>
  <title>ShoeStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/home/xing/Desktop/TestRuby/AT-Internship/shoe_store/app/assets/stylesheets/style.css">
  <script src="/home/xing/Desktop/AT-Internship/shoe_store/app/assets/javascripts/style.js"></script>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<header>
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<!-- warning if not login -->
	<p class="navbar-text pull-right">
	<!-- navigation -->
	<% if user_signed_in? %>
		<div>
		  <ul>
		  	<li><%= link_to "#{current_user.email}", edit_user_registration_path%></li>
		  	<li><%= link_to "New"%></li>
		  	<li><%= link_to "Hot"%></li>
		    <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
		    <li><%= link_to "Home", products_path %></li>
		  </ul>
		</div>
		<br>
	<!-- search_box -->
		<div class="search_form">
		  <form action="" method="post">
		    <input type="text" name="search_box" id="search_box" placeholder="find something here" />
		  </form>
		</div>
	<br><br>
	<% else %>
		<div>
		  <ul>
		  	<li><%= link_to "Sign up", new_user_registration_path %></li>
		    <li><%= link_to "Login", new_user_session_path%></li>
		  </ul>
		</div>
		<br>
	<% end %>
</header>
<main>
	
</main>
<center><%= yield %></center>
<br><br>
<footer class="w3-container w3-teal">
  <p>Author by Thachnp</p>
</footer>
</body>
</html>
