<!DOCTYPE html>
<html>
<head>
  <title>NewProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/home/le/letien/AT-Internship/new_project/app/assets/stylesheets/style.css">
</head>
<body>
	<header>
		<ul class="nav">
		  <li><%=link_to "News", new_index_path%></li>
		  <li><a href="" class="spa_link">User</a></li>
              <!-- <li><a href="/user" class="spa_link" id="spa" onclick="script()">User</a></li> -->
		  <li class="dropdown">
    			<a href="javascript:void(0)" class="dropbtn">Choice</a>
    				<div class="dropdown-content">
    				
				      <a href="">1</a>
				      <a href="">2</a>
				
    				</div>
  		  </li>
		
		</ul>
		<p class="navbar-text pull-right">
		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.email %></strong>.
		  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
		  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		<% else %>
		  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
		  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
		
		</p>
		</header>
		<main>
			<%= yield %>
		</main>
	

</body>
</html>
